:root {
  --header-height: 40px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}


header {
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  background-color: gainsboro;
}

main {
  padding-left: 50px;
}

h1 { 
  font-size: 2.6rem;
}

h1, h2 {
  margin-top: 50px;
}

a {
  /* color: inherit;*/
  text-decoration: none; 
  margin-right: 16px;
  font-weight: 700;

}

a:hover {
  color:blue;
  text-shadow: 0 0 1px rgb(0, 0, 0)
}


section.auth {
  height: calc( 100vh - var(--header-height));
  border: solid 1px darkgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* form {
  background-color: antiquewhite;
  padding: 40px;
  border-radius: 10px;
} */

button {
  font-size: inherit;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 16px;
  border-radius: 5px;
  border: solid 1px lightgray;
  margin: 1px;
}

button:hover {
  background-color: white;
  outline: solid 1px gray;
}

button:active {
  outline: solid 2px black;
}